grafanalib
pyformance
etcd3
etcdb
prometheus_client
functools32
crontab
Cython
locustio
statsd
PlanOut
python-ambariclient
marathon
geoip2
arrow
bleach
webargs
protobuf-to-dict
ecdsa
py_zipkin
pyparsing
sqlparse
pykube
fn
cerberus
envoy
geopy
reverse_geocoder
fuzzywuzzy
user_agents
glog
python-gflags
elastalert
elasticsearch
rtmbot
googleads
facebookads
twitter-ads
pyga
python-googleanalytics
pybloom
transitions
state_machine
gitpython
svn
mysql-replication
meepo
pdfminer
psd-tools
pymysql
mysqlclient
MySQL-python
echarts-python
html5lib
schedule
lxml
requests
gevent
pytesseract
pandas
pillow
logbook
flask
Flask-SQLAlchemy
flask-login
Flask-OAuthlib
Flask-SSE
Flask-Migrate
celery[librabbitmq,redis,msgpack]
flower
scrapy
rq
redis
redis-py-cluster
rc
redis-shard
plan
falcon
falconpb
graceful
requests
grpcio
DBUtils
thriftpy
thrift_connector
gunicorn_thrift
grequests
gsocketpool
gunicorn
gevent-etcd
gevent-websocket
geventconnpool
geventcron
geventhttpclient
ansible
pexpect
algorithms
schedule
xmltodict
tushare
fabric
fabric-gunicorn
kafka-python
msgpack-python
autojenkins
artifactory
peewee
beautifulsoup4
pycsco
pyiosxr
netmiko
ncclient
exabgp
pyangbind
ryu
html5lib
socialoauth
weibo
itchat
itchatmp
alipay
paypal
upyun
sevencow
pywinauto
saws
prompt-toolkit
aws-shell
grpcio
retrying
pymemcache
thrift-tools
cachetools
kafka-tools
kafka-utils
yapf
pymongo
mongoengine
python-dateutil
pillow
pytesseract
python-etcd
youtube_dl
jieba
boto
pika
nltk
airflow[mysql,hive,hdfs,celery,druid,async,kerberos,ldap]
h5py
pyhive
impyla
pydruid[async, pandas]
pykylin
parquet
happybase
avro
data_pipeline_avro_util
json2avro
avro_json_serializer
impyla
kudu-python
python-logstash
flumelogger
smart_open
snakebite[kerberos]
ibis-framework
superset
pyleus
streamparse
sparkit-learn
gensim
arch
statsmodels
zipline
scikit-learn
tensorflow
mxnet
minpy
keras
tensorlayer
elephas
hyperas
word2vec
lda2vec
lda
xgboost
wabbit_wappa
annoy
mrjob
fastFM
pywFM
gym
pyarrow
plyvel
-e git://github.com/baidu/CUP.git
spacy
IPy
xlwt
xlutils
xlrd
python-docx
jpush
xinge_push
paypalrestsdk
cgroupspy
ldap3
pykerberos
requests-kerberos
thrift_sasl
bcrypt
distributed
dask
