cup

jaeger-client
opentracing
redisgraph
redisearch
rejson

geojson
geopandas

sqlflow

elastic-apm
records[pandas]
tablib[pandas]
delegator.py
maya

zstandard
atlasclient
pyeureka
jupyter
jupyterlab
jupyterhub
jupyter_contrib_nbextensions
fire
bounter
smart_open
sqlitedict
SimpleSQLite
pyreferrer
googlemaps
git+https://github.com/elisong/baidu-maps-services-python
tqdm
homeassistant
seaborn
networkx
blockchain
pyfftw
pyhystrix
hashids
python-hashes
sparselsh
omnihash
rdbtools
python-lzf
vnpy
coinmarketcap
algocoin
pycoin
python-binance-api
python-binance
liblinear
vowpalwabbit
svmloader
Cython
riko
crate
xlsxwriter
django-formtools
django-filter
django-redis
django-cache-machine
django-cachalot
django-cacheops
django-redis
django-crispy-forms
django-fsm
django-fsm-log
django-celery
django-tracking2
django-pandas
django-prometheus
django-extensions
djangorestframework
djangorestframework-jwt
djangorestframework-filters
djangorestframework-msgpack
rest-pandas
django-imagekit
django-log-request-id
django-celery-beat
django-celery-results
django-celery-email
django-anymail
django-geojson
djangorestframework-gis
django-elasticsearch-dsl-drf
django-restql
social-auth-app-django
social-auth-storage-sqlalchemy
rest-social-auth
django-rest-framework-social-oauth2
django-hashid-field
django-sharding
django-pylibmc
django-model-utils
django-user_agents
django-zipkin-trace
django_opentracing
django-viewflow
prometheus_client
roaringbitmap
structlog
pylibmc
opentsdb-py
apache-beam
protobuf
sklearn
forklift
crate
BigDL
pyspark
pysolr
PySyncObj
raftos
grafanalib
pyformance
etcd3
etcdb
functools32
crontab
Cython
locustio
statsd
PlanOut
pyipip
geoip2
arrow
bleach
webargs
protobuf-to-dict
secp256k1
ecdsa
py_zipkin
pyparsing
sqlparse
kubernetes
fn
cerberus
envoy
geopy
reverse_geocoder
fuzzywuzzy
user_agents
glog
python-gflags
elasticsearch-dsl
rtmbot
googleads
facebookads
twitter-ads
pyga
google-api-python-client
pga
git+https://github.com/webhue/appannie
git+https://github.com/storerjeremy/python-semrush
pytrends
pybloom
transitions
gitpython
svn
meepo
pdfminer
psd-tools
pymysql
MySQL-python
mysql-connector-python
echarts-python
html5lib
schedule
lxml
pytesseract
pandas
pillow
logbook
flask
Flask-RESTful
Flask-SQLAlchemy
Flask-SQLAlchemy-Cache
Flask-Caching
Flask-Cache
flask_zipkin
Flask-Opentracing
Flask-OAuthlib
Flask-SSE
Flask-Migrate
flask-login
Flask-Script
Flask-WTF
Flask-Admin
flask_prometheus
Flask-Celery-Helper
social-auth-app-flask
social-app-flask-sqlalchemy
celery[librabbitmq,redis,msgpack]
flower
scrapy
scrapy-redis
gerapy
rq
redis
redis-py-cluster
rc
redis-shard
plan
graceful
grpcio
DBUtils
thriftpy
thrift_connector
gunicorn_thrift
gsocketpool
gevent
gevent-etcd
gevent-websocket
geventconnpool
gevent-pipeline
geventhttpclient
ansible
pexpect
algorithms
schedule
xmltodict
tushare
TA-Lib
fabric
fabric-gunicorn
kafka-python
confluent-kafka[avro]
yelp_kafka
kafka-utils 
msgpack-python
autojenkins
artifactory
beautifulsoup4
pycsco
pyiosxr
netmiko
ncclient
exabgp
pyangbind
html5lib
socialoauth
weibo
python-weixin
itchat
itchatmp
wxpy
pywxpay
python-alipay-sdk
paypal
upyun
sevencow
pywinauto
saws
prompt-toolkit
aws-shell
grpcio
retrying
pymemcache
thrift-tools
cachetools
tache
kafka-tools
kafka-utils
yapf
pymongo
mongoengine
python-dateutil
pillow
pytesseract
python-etcd
youtube-dl
you-get
jieba
boto
pika
nltk
hdfs[avro,dataframe,kerberos]
apache-airflow[mysql,postgres,redis,s3,rabbitmq,ssh,hive,hdfs,celery,druid,async,kerberos,jdbc,ldap]
h5py
kylinpy
presto-python-client
pyhive
pydruid[async, pandas,sqlalchemy]
parquet
happybase
avro
data_pipeline_avro_util
avro_json_serializer
impyla
joblib
python-logstash
logstash_formatter
flumelogger
smart_open
snakebite[kerberos]
ibis-framework
superset
pyleus
streamparse
sparkit-learn
gensim
arch
statsmodels
zipline
scikit-learn
scikit-surprise
scikit-image
scikit-keras
scikit2pmml
tensorflow
tensorflow-transform
tensorflow-data-validation
tensorflow-model-analysis
tensorflow-gpu
tensorflow-serving-api
tensorflow-probability
tensorflow-datasets
tensorflow-ranking
tensor2tensor
adanet
tf-agents
mesh-tensorflow
tensorflow-hub
keras
tensorlayer
elephas
hyperas
word2vec
lda2vec
lda
xgboost
lightgbm
wabbit_wappa
annoy
mrjob
fastFM
fasttext
spacy
gensim
pywFM
gym
pyarrow
plyvel
spacy
IPy
xlwt
xlutils
xlrd
python-docx
jpush
xinge_push
paypalrestsdk
cgroupspy
ldap3
pykerberos
grequests
requests
requests-html
requests-kerberos
requests-cache
requests-oauthlib
thrift_sasl
bcrypt
distributed
dask
idna
ecdsa
pyasn1
pycparser
pyOpenSSL
PyQRCode
regex
sqlalchemy
sqlalchemy-clickhouse
websocket-client
ua-parser
user-agents
